@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --royal-blue: #2a4aa1;
  --soft-lavender: #d4c5f9;
  --blush-pink: #f8d7da;
  --cream-moon: #fef7e0;
}